$background-color__dark: #18171d;
$background-color__blue: #28a8fd;
$background-color__blue-2: #deeffc;
$background-color__dark-blue: #2d3846;
$background-color__orange: #fbb461;
$background-color__gray: #c8d2db;
$background-color__gray-2: #f7f7fd;
$background-color__white: #ffff;

$text-color__bleu: #2493df;
$text-color__orange: #fbb461;
$text-color__brown: #6a4315;
$text-color__gray: #f2f5f7bd;
$text-color__gray-2: #6b7f99;
$text-color__gray-3: #2d3846;

$text-color__white: #ffff;

$outline-color__bleu: #2493df;
